<link rel="stylesheet" href="~/css/Privacy,home.css" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Welcome to the Marathon website, the ultimate destination for all things related to running and endurance sports!

        If you're a seasoned marathon runner looking for your next challenge, or a beginner looking to take your first steps towards a healthier lifestyle, you've come to the right place. We offer a wide range of resources and information to help you achieve your running goals and push yourself to new heights.

        Our website is filled with expert advice, training plans, and tips to help you get the most out of your running experience. Whether you're looking to improve your endurance, increase your speed, or just enjoy the mental and physical benefits of running, we've got you covered.

        In addition to our comprehensive training resources, we also offer a variety of marathon events and races throughout the year. From local community runs to major international events, our calendar is always packed with exciting opportunities for runners of all skill levels.

        So why wait? Start exploring our website today and discover all that the world of marathon running has to offer. Whether you're looking for inspiration, motivation, or just a community of like-minded individuals to connect with, you'll find it all here at the Marathon website.
    </p>
</div>
