<link rel="stylesheet" href="~/css/Privacy,home.css" />
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>When we refer in this Privacy Policy to “Personal Information,” we mean any information that can be used to identify you. Examples of Personal Information include your name, address, email address, telephone number, date of birth,
    and social security number. Personal Information collected by us will vary depending on which of our Websites you use..</p>
